[Desktop Entry]
Name=GTKFig
Comment=GTKFig - figure-drawing tools
Comment[pl]=GTKFig - narzedzie do rysowania figur
Exec=gtkfig
Terminal=0
Type=Application
