[Desktop Entry]
Name=GTKFig
Comment=GTKFig - figure-drawing tools
Comment[pl]=GTKFig - narzędzie do rysowania figur
Exec=gtkfig
Terminal=false
Type=Application
# vi: encoding=utf-8
